<tr class="border-t border-">
  <td class="p-5 bg-white rounded-bl-xl">
    <%= link_to routine.name, routine, class: "text-primary hover:text-secondary transition-colors duration-200" %>
  </td>
  <td class="p-5 bg-white">
    <%= link_to routine.patient.full_name, routine.patient, class: "text-primary hover:text-secondary transition-colors duration-200" %>
  </td>
  <td class="p-5 bg-white">
    <%= "#{date_to_human(routine.start_at)} - #{date_to_human(routine.end_at)}" %>
  </td>
  <td class="p-5 bg-white">
    <%= routine.status %>
  </td>
  <td class="p-5 bg-white">
    <%= routine.accuracy_score %>
  </td>
  <td class="p-5 bg-white">
    <%= routine.exercises.count %>
  </td>
  <td class="bg-white rounded-br-xl">
    <div class="flex items-center justify-start">
      <%= render "shared/edit_icon", path: edit_routine_path(routine), turbo_stream: false %>
      <% if routine.pending? %>
        <%= render "shared/trash_icon", path: routine, turbo_stream: false, confirm_message: t('routines.delete_routine_confirmation', routine_name: routine.name) %>
      <% end %>
    </div>
  </td>
</tr>