<div class="min-h-screen bg-background">
  <!-- Header -->
  <header class="bg-white shadow-md rounded-lg">
    <div class=" mx-auto py-6 px-4 sm:px-6 lg:px-8">
      <div class="items-center">
        <%= render "patients/breadcrumbs" %>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <main class=" mx-auto py-5">
    <div class="bg-white shadow-md rounded-lg p-5 mb-8">
      <%= form_with(model: @patient, local: true, data: { turbo: false }) do |form| %>
        <%= render 'shared/resource_errors', resource: @patient %>
        
        <div>
          <%= form.fields_for :user do |user_fields| %>
            <%= render 'form', user_fields: user_fields %>
          <% end %>
        </div>

        <div class="flex items-center justify-end">
          <%= form.submit t('patients.update'), class: "inline-flex items-center px-4 py-2 border border-primary text-sm font-medium rounded-lg text-white bg-primary hover:bg-background hover:text-primary transition-colors duration-200 cursor-pointer" %>
        </div>
      <% end %>
    </div>
  </main>
</div>