<div class="min-h-screen bg-background">
  <!-- Header -->
  <header class="bg-white shadow-md rounded-lg">
    <div class="mx-auto py-6 px-4 sm:px-6 lg:px-8">
      <div class="items-center">
        <%= render "patients/breadcrumbs" %>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <main class="mx-auto py-5">
    <!-- Unified Card -->
    <div class="bg-white shadow-md rounded-lg overflow-hidden">
      <!-- Actions Bar -->
      <div class="p-4 border-b border-gray-200">
        <div class="flex justify-between items-center">
          <!-- Search Bar -->
          <div class="w-1/3">
            <%= search_form_for @q, url: patients_path, html: { class: "flex", data: { turbo_frame: "_top", controller: "search", turbo_stream: true } } do |f| %>
              <div class="relative flex-grow">
                <%= f.search_field :search_patient_cont_any,
                    placeholder: t('patients.search'),
                    class: "w-full h-10 px-4 py-2 border border-primary rounded-lg text-neutral-dark focus:outline-none focus:ring-1 focus:ring-primary",
                    data: {
                      action: "input->search#submit",
                      search_target: "input"
                    }
                %>
                <% if @q.search_patient_cont_any.present? %>
                  <%= link_to patients_path, class: "absolute inset-y-0 right-0 flex items-center pr-3 text-neutral-dark hover:text-primary", title: t('patients.clear_search') do %>
                    <%= icon "x-circle", class: "w-5 h-5" %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
          <!-- New Patient Button -->
          <div>
            <%= render "patients/buttons" %>
          </div>
        </div>
      </div>

      <!-- Table with Pagination -->
      <%= render "patients/table_with_pagination", patients: @patients, pagy: @pagy, q: @q %>
    </div>
  </main>

  <% content_for :modals do %>
    <%= render ModalComponent.new(id: "new_patient_modal", title_text: t('patients.new_patient')) do %>
      <div id="new_patient_form_container">
        <%= render "patients/modal_form", new_patient: @new_patient %>
      </div>
    <% end %>
  <% end %>

</div>